.users_wrapper {
    width: 100%;
    min-height: 100px;
}

.group_create_bar {
    display: flex;
    padding: 10px;
}

.users_list {
    display: flex;
    width: 100%;
    min-height: 100px;
    padding:10px ;
    flex-direction: column;
}

.users_list li {
    list-style: none;
}

.users_list li input {
    cursor: pointer;
}

.users_page_list {
    display: flex;
}

.users_page_list button {
    margin: 15px;
}