.users_wrapper {
    width: 100%;
    min-height: 100px;
}

.users_list {
    display: flex;
    width: 100%;
    min-height: 100px;
    padding:10px ;
    flex-direction: column;
}

.users_page_list {
    display: flex;
}

.users_page_list button {
    margin: 15px;
}