<div class="wrapper">
    <header class="page-header">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Ember</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{#link-to 'users' tagName="li"}}
                    <a href="users">Users</a>
                    {{/link-to}}
                </ul>
            </div>
        </nav>
    </header>
    <main class="page-main">
        {{outlet}}
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                </div>
            </div>
        </div>
    </footer>
</div>