<div class="app">

    <header class="header">
        <div class="header__logo__wrapper">
            <a class="header__logo" href="#">Ember</a>
        </div>
        <div class="header__menu">
            {{#link-to 'users'}}
            Users
            {{/link-to}}
            {{#link-to 'groups' 1}}
            Groups
            {{/link-to}}
        </div>
    </header>

    <div class="content">
        {{outlet}}
    </div>

    <footer class="footer">
    </footer>
</div>