<div class="app">

    <header class="header">
        <div class="header__logo__wrapper">
            <a class="header__logo" href="#">Ember</a>
        </div>
        <div class="header__menu">
            {{#link-to 'user'}}
            <a href="user">Users</a>
            {{/link-to}}
            {{#link-to 'group'}}
            <a href="group">Groups</a>
            {{/link-to}}
        </div>
    </header>

    <div class="content">
        <button {{action "click"}}>Click</button>
        <ul>
            {{#each model as |user|}}
            <li>{{user.firstName}} {{user.lastName}}</li>
            {{/each}}
        </ul>
    </div>

    <footer class="footer">
    </footer>
</div>