<div class="group_wrapper">
    <h1>{{name}}</h1>
    <ul class="group_list">
        {{#each statistic key="id" as |elem|}}
        <li>{{elem.user.firstName}} {{elem.value}} </li>
        {{/each}}
    </ul>
</div>