<div class="group_wrapper">
    <h2>{{name}}</h2>
    <ul class="group_list">
        {{#each users key="id" as |user|}}
        <li>{{user.firstName}} {{user.lastName}}</li>
        {{/each}}
    </ul>
</div>