<div class="groups_wrapper">
    <div class="groups_list">
        <ul>
            {{#each model as |group|}}
            {{#link-to 'group' group.id}}
            <li>{{group.name}}</li>
            {{/link-to}}
            {{/each}}
        </ul>
    </div>
    {{pagination-bar}}
</div>