<div class="groups_wrapper">
    <div class="groups_list">
        <ul>
            {{#each model as |group|}}
            {{group-elem name=group.name}}
            {{/each}}
        </ul>
    </div>
</div>
{{outlet}}