<div class="row">
    <form class="col s12">
        <button class="btn waves-effect waves-light">Send</button>
    </form>
    <li>Ilya Gorkun</li>
    <li>Vasya Petrov</li>
    <li>Vova Puplik</li>
    <li>Olya Ivanova</li>
</div>

{{outlet}}