<div class="users_wrapper">
    <div class="group_create_bar">
        {{input value=newNameGroup placeholder="Name Group"}}
        <button {{action "createGroup"}}>Create group</button>
    </div>
    <div class="users_list">
        <ul>
            {{#each model as |user|}}
            {{user-elem firstName=user.firstName lastName=user.lastName click=(action "addUser" user.id)}}
            {{/each}}
        </ul>
    </div>
    <div class="users_page_list">
        {{#link-to 'users' 1}}
        <button>1</button>
        {{/link-to}}
        {{#link-to 'users' 2}}
        <button>2</button>
        {{/link-to}}
        {{#link-to 'users' 3}}
        <button>3</button>
        {{/link-to}}
        {{#link-to 'users' 4}}
        <button>4</button>
        {{/link-to}}
    </div>
</div>
{{outlet}}